<div class="wait-3 disappear">
  <%= render "endings/vote_reveal.html", assigns %>
</div>

<%= render "endings/acc_reveal.html", assigns %>

<div class="wait-7 reveal section">

  <div class="section"><%=winner_phrase(@pub_state) %></div>

</div>
